<div *ngIf="patient">
  <div class="flex flex-row my-3 px-2">
    <h1 class="!text-3xl !font-normal">Estudios de {{ patient.name }}</h1>
    <div class="flex-auto"></div>
    <button mat-raised-button color="primary" (click)="openCreateDialog()">
      Agregar
    </button>
  </div>
  <div class="bg-white p-3 rounded-md shadow-md mb-4">
    <div class="overflow-auto">
      <table mat-table [dataSource]="studies">
        <ng-container matColumnDef="createdOn">
          <th mat-header-cell *matHeaderCellDef>Fecha</th>
          <td mat-cell *matCellDef="let study" class="!text-base">
            <a
              [routerLink]="['/', 'studies', patient.id, study.id]"
              class="hover:underline cursor-pointer text-blue-400"
              >{{ study.createdOn | date : "dd/MM/yyyy" }}</a
            >
          </td>
        </ng-container>
        <ng-container matColumnDef="result">
          <th mat-header-cell *matHeaderCellDef>
            Resultado
          </th>
          <td mat-cell *matCellDef="let study" class="!text-base">
            {{ study.result }}
          </td>
        </ng-container>
        <ng-container matColumnDef="remove">
          <th mat-header-cell *matHeaderCellDef>Eliminar</th>
          <td mat-cell *matCellDef="let study" class="!text-base">
            <button
              mat-raised-button
              color="warn"
              (click)="openDeleteDialog(study.id)"
            >
              Eliminar
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
