<h1 mat-dialog-title>Agregar estudio</h1>
<form [formGroup]="wavesForm" (submit)="create()">
  <div mat-dialog-content>
    <p>Estudio</p>
    <input
      type="file"
      class="mb-4"
      accept=".csv"
      (change)="onFileChange($event)"
      formControlName="study"
    />
  </div>
  <div mat-dialog-actions align="end">
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="wavesForm.invalid && !loading"
    >
      <span *ngIf="!loading">Agregar</span>
      <span *ngIf="loading"
        ><mat-spinner [diameter]="30" color="accent"></mat-spinner
      ></span>
    </button>
    <button type="button" mat-raised-button mat-dialog-close>Cancelar</button>
  </div>
</form>
